<table class="table table-striped table-bordered table-hover">
<thead class="table-dark">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
    <th> </th>
    <th> </th>

  </tr>
</thead>

<tbody>


<td><%= friend.first_name + '' + friend.last_name %></td>
<td><%= friend.email %></td>
<td><%= friend.phone %></td>
<td><%= friend.twitter %></td>
<td><%= link_to "Show", friend %> | <%= link_to "Destroy", @friend, method: :delete %></td>


</tbody>
</table>